# Java compiled files
*.class

# Logs
*.log

# Maven build output
target/

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*
replay_pid*

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
